
    <div class="row justify-content-center mt-4 ">
    <div class="col-md-5" style="border:1px solid blue ; border-radius: 5px;;">
        <form [formGroup]="petForm" (ngSubmit)="onSubmit()" class="p-3">
    <div class="form-group">
        <label for="name">Breed</label>
        <input type="text" class="form-control" formControlName="breed" required placeholder="Name">
    </div>
    <div class="form-group">
        <label for="name">Category</label>
        <input type="text" class="form-control" formControlName="category" required placeholder="eg:dog,cat,fish,money etc....">
    </div>
    <div class="form-group">
        <label for="name">AvgPrice</label>
        <input type="text" class="form-control" formControlName="avgprice" required placeholder="Average price">
    </div>
    <div class="form-group">
        <label for="name">Description</label>
        <input type="text" class="form-control" formControlName="description" required placeholder="description">
    </div>
    <div class="form-group">
        <label for="name">image</label>
        <input type="text" class="form-control" formControlName="image" required placeholder="image">
    </div>
    <div class="form-group ">
     <button class="btn btn-primary mt-4" type="submit">SUBMIT</button>   
    </div>
        </form>
    </div>
</div> 
